.lamp{
    transform: scale(-150%);
}

.text-white{
    color: cornsilk;
}

.inf-card-zoom{
    transform: scale(1);
    transition: 0.5s;
}

.inf-card-zoom:hover{
    transform: scale(105%);
}

.line-between{
    background-color: black;
    width: 50%;
    height: 2px;
    left: 25%;
}
